<link rel="stylesheet" type="text/css" href="css/navbarMusic.css">

<!-- Navigation bar for finding live concerts ... home--> 

<nav>

<input id="Alternative" type="checkbox" name="Alternative" value="Alternative">
<label for="Alternative">Alternative</label

><input id="Blues" type="checkbox" name="Blues" value="Blues"
><label for="Blues">Blues</label

><input id="Classical" type="checkbox" name="Classical" value="Classical"
><label for="Classical">Classical</label

><input id="Country" type="checkbox" name="Country" value="Country"
><label for="Country">Country</label

><input id="Electronic" type="checkbox" name="Electronic" value="Electronic"
><label for="Electronic">Electronic</label

><input id="Folk" type="checkbox" name="Folk" value="Folk"
><label for="Folk">Folk</label

><input id="Hiphop" type="checkbox" name="Hiphop" value="Hiphop"
><label for="Hiphop">Hip Hop</label

><input id="Industrial" type="checkbox" name="Industrial" value="Industrial"
><label for="Industrial">Industrial</label

><input id="Jazz" type="checkbox" name="Jazz" value="Jazz"
><label for="Jazz">Jazz</label

><input id="Metal" type="checkbox" name="Metal" value="Metal"
><label for="Metal">Metal</label

><input id="Pop" type="checkbox" name="Pop" value="Pop"
><label for="Pop">Pop</label

><input id="Punk" type="checkbox" name="Punk" value="Punk"
><label for="Punk">Punk</label

><input id="R&B" type="checkbox" name="R&B" value="R&B"
><label for="R&B">R&B</label

><input id="Reggae" type="checkbox" name="Reggae" value="Reggae"
><label for="Reggae">Reggae</label

><input id="Rock" type="checkbox" name="Rock" value="Rock"
><label for="Rock">Rock</label

><input id="World" type="checkbox" name="World" value="World"
><label for="World">World</label>

</nav>